* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  :root {
    --amarillo: #ffa903;
    --azul: #0e3ea9;
  }
  
  .contenedor {
    width: 100vw;
    height: 100vh;
    display: grid;
    background: #e7e5e5;
    grid-template: 80px auto / 0.3fr 1fr;
    grid-template-areas:
      "header header"
      "nav contenido";
  }
  
  header {
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin: 5px;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .logo {
    background: var(--azul);
    color: var(--amarillo);
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 10px;
    border: 2px solid var(--amarillo);
    transform: rotate(-8deg);
    margin-left: 10px;
    font-size: 1.8rem;
  }
  
  header .cuenta {
    background: var(--azul);
    color: var(--amarillo);
    padding: 8px;
    margin-right: 10px;
    border-radius: 50%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  header .cuenta:hover {
    background: var(--amarillo);
    color: var(--azul);
  }
  nav {
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin: 5px;
    grid-area: nav;
  }
  nav ul {
    list-style-type: none;
    margin: 8px;
    font-size: 14px;
  }
  nav ul li {
    margin: 3px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    background: var(--azul);
    color: var(--amarillo);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.7rem;
  }
  nav ul li a:hover {
    background: var(--amarillo);
    color: var(--azul);
  }
  nav ul li a i {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .contenido {
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin: 5px;
    grid-area: contenido;
    padding: 30px;
  }
  .contenido h1 {
    font-size: 3rem;
  }
  .intro {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
  }
  .intro #banner {
    flex: 1;
    width: 50%;
  }
  .intro p {
    flex: 1;
  }
  
  /* Categorias */
  ul#lista-categorias {
    list-style-type: none;
  }
  ul#lista-categorias li {
    margin: 10px;
  }
  ul#lista-categorias li a {
    color: var(--azul);
    border: 1px solid var(--azul);
    text-decoration: none;
    display: block;
    padding: 5px;
    padding-left: 10px;
    font-size: 1.5rem;
  }
  ul#lista-categorias li a:hover {
    background: var(--azul);
    color: #fff;
  }