* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.contenedor {

  display: grid;
  grid-template: 50px auto 50px / 0.3fr 1fr;
  gap: 5px;
  width: 100vw;
  height: 100vh;
  display: grid;
  background: white;
  grid-template-areas:
    "header header"
    "nav contenido";
  position: absolute;
  background-color: #f3f2f2;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 10px;
  margin-top: 40px;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#logout {
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}
#logout:hover{
  background: #c2c2c2;
  color: #000080;
  border-radius: 5px;
}

img.logosantoto{
  display: grid;
  margin-left: 40%;
  width: auto;
  height: 150px;
  position: absolute;
}

nav{
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  background-color: rgb(223, 223, 223);
  height: 650px;
  width: 300px;
  margin-left: 5px;
  justify-content: space-between;
  padding-left:10px ;
  padding-top: 60px; 
}
.menu ul li a{
  text-decoration: none;
  list-style: none;
  display: block;
  padding: 25px;
  text-decoration: none;
  color: #000000;
}
.menu li{
  list-style-type: none;
}
.menu li:hover {
  background: #c2c2c2;
  color: #000080;
  border-radius: 50px;
}
ul {
  font-size: 20px;
}
.contenido{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.titulo1 {
  margin-top: 200px;
  margin-left: 100px;
  text-align: center;
}
table,th,td {
  margin-top: 50px;
  margin-left: 30px;
  border: 2px solid black;
  border-collapse: collapse;
  padding-inline: 80px;
  text-align: center;
}

td{
  padding-left: 10px;
  padding-bottom: 100px;
}
.columna:hover {
  background: #c2c2c2;
  color: #000080;
}
table:hover td {
  background: #d3d3d3;
}

.footer{
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin-block-end: 5px;
}