* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  display: grid;
  grid-template: 50px auto 50px / 0.3fr 1fr;
  gap: 5px;
  width: 100vw;
  height: 100vh;
  display: grid;
  background: white;
  grid-template-areas:
    "header header"
    "nav contenido";
  position: absolute;
  background-color: #f3f2f2;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 10px;
  margin-top: 40px;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#logout {
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}
#logout:hover{
  background: #c2c2c2;
  color: #000080;
  border-radius: 5px;
}

img.logosantoto{
  display: grid;
  margin-top: 100px;
  margin-left: 50px;
  height: 250px;
  position: absolute;  
}

nav{
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  /* background-color: rgb(209, 209, 209); */
  height: 590px;
  width: 300px;
  margin-left: 5px;
  justify-content: space-between;
  padding-left:10px ;
  padding-top: 60px; 
}
ul {
  font-size: 20px;
}
.menu ul li a{
  text-decoration: none;
  list-style: none;
  display: block;
  padding: 25px;
  text-decoration: none;
  color: #000000;
}
.menu li{
  list-style-type: none;
}
.menu li:hover {
  background: #c2c2c2;
  color: #000080;
  border-radius: 50px;
}
.contenido{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.footer{
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin-block-end: 5px;
}