body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Montserrat", sans-serif; 
  display: grid;
  grid-template: 12% 88% / 210px auto;
  grid-template-areas:
    "header header"
    "barra-nav menu-contenido";
  background-color: #f3f2f2;    
}

#logout {
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}
#logout:hover{
  background: #c2c2c2;
  color: #000080;
  border-radius: 5px;
}

img.logosantoto {
  margin-left: 10%;
  width: auto;
  height: 150px;
}
.contenedor {
  height: 100%;
  width: 100%;  
  display: grid;
  grid-template: 50px auto 50px / 0.3fr 1fr;
  gap: 5px;
}
.header {  
  height: 100%;
  width: 147%;
  margin-left: 4%;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
h1,
h2,
h3 {
  text-align: center;
}

nav{
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  background-color: rgb(223, 223, 223);
  height: 650px;
  width: 300px;
  margin-left: 5px;
  justify-content: space-between;
  padding-left:10px ;
  padding-top: 60px; 
}
.menu ul li a{
  text-decoration: none;
  list-style: none;
  display: block;
  padding: 25px;
  text-decoration: none;
  color: #000000;
}
.menu li{
  list-style-type: none;
}
.menu li:hover {
  background: #c2c2c2;
  color: #000080;
  border-radius: 50px;
}
ul {
  font-size: 20px;
}

.contenido {
  margin-top: 150px;
  margin-left: 60px;
  padding-top: 0%;
  padding-left: 20%;
  padding-right: 30%;
  height: 500px;
  width: 500px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: auto;
  margin-left: auto;
  padding-inline: 20px;
  text-align: justify;
}
table{
  margin-left: 10%;
}

.fila:hover {
  background: #c2c2c2;
  color: #000080;
}

#candidatos{
  margin-top: 30px;
  margin-left: 170px;
}