body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template: 12% 88% / 210px auto;
  grid-template-areas:
    "header header"
    "barra-nav menu-contenido";
  background-color: #f3f2f2;
}

.contenedor {
  background-color: #c4c4c4;
  width: 320px;
  height: 420px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.logo {
  width: 275px;
  height: 75px;
  margin-top: 17px;
  margin-left: 10px;
}
.imagen {
  width: 275px;
  height: 75px;
  margin-top: 30px;
  margin-left: 17px;
}
.login {
  margin-top: 100px;
  margin-left: 40px;
}
.nombre{
  margin-top: 0px;
  margin-left: 15px;
}
.caja{
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 12px;
}
.botones{
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 1px;
  padding-top: 1px;
}

.boton{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 3px; 
  text-decoration: none;
  border:none;
  color: #000000;
}

.boton:hover{
  background-color: #5c5c5c; 
}