{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
</head>
<body>
    <div class ="contenedor">
        <header>
            <div class="logo" >
                BLOCKBUSTER
            </div>
            <div class="titulo">
                {% block titulo %}
                {% endblock %}
            </div>
        </header>
        <nav class="navegacion">
            <ul>
                <li><a href="{% url 'app:peliculas' %}">Peliculas</a></li>
                <li> <a href="{% url 'app:categorias' %}">Categorias</a></li>
                <li> <a href="{% url 'app:acerca' %}">acerca</a></li>
                <li><a href="#">salir</a></li>
            </ul>
        </nav>

        <main>
            {% block contenido %}
            {% endblock %}
        </main>
    </div>

    
    
</body>
</html>