{% extends "app/base.html" %}

{% block titulo %}
categorias
{% endblock %}

{% block contenido %}
<a href="{% url 'app:form_crear_categoria_view' %}">Crear Categoria</a>
<ul>
    {% for c in categorias %}
    <li>{{ c.nombre }}</li>
    
    {% endfor %}
</ul>

{% endblock %}

