{% extends "app/base.html" %}

{% block titulo %}
categoria
{% endblock %}

{% block contenido %}
<a href="{% url 'app:peliculas' %}">Ir a la pagina peliculas</a>
    <br>
    <a href="{% url 'app:index' %}">Ir a inicio</a>
    <br>

    <h1>Categoria</h1>
    <p>El nombre del actor es: {{actor}} y tiene {{edad}}</p>

    {% if esJubilado %}
    <p>El actor es jubilado</p>

    {% else %}
    <p>El actor trabaja activamente en el cine</p>
    {% endif %}
    
    <h2> Filmografia del actor</h2>

    <ul>
        {% for pelicula in filmografia %}
        <li>{{ pelicula.Titulo}}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2> Tabla De pelicuals del actor</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in filmografia %}
            <tr>
                <td>{{ movie.Titulo }}</td>
                <td>{{ movie.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
