{% extends "app/base.html" %}

{% block titulo %}
categorias
{% endblock %}

{% block contenido %}
<h3>Datos De la categoria</h3>
<hr>

<form action="{% url 'app:crear_categoria_post' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <label>Nombre</label>
        <input type="text" name="nombre">
    </fieldset>

    <fieldset>
        <label>Descripcion</label>
        <input type="text" name="descripcion">
    </fieldset>
    <fieldset>
        <button type="submit">Crear Categoria</button>
    </fieldset>

</form>
{% endblock %}
