{% extends "app/base.html" %}

{% block titulo %}
Peliculas
{% endblock %}

{% block contenido %}
<table border="1">
    <theard>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
            <th>Categoria</th>
        </tr>
    </theard>
    <tbody>
        <tr>
            <td>wall_e</td>
            <td>2005</td>
            <td>Infantil</td>
        </tr>
        <tr>
            <td>Soul</td>
            <td>2020</td>
            <td>Infantil</td>
        </tr>
        <tr>
            <td>Duro de matar</td>
            <td>1987</td>
            <td>Accion</td>
        </tr>
        <tr>
            <td>Pretty Woman</td>
            <td>1997</td>
            <td>Romance</td>
        </tr>
    </tbody>
</table>
{% endblock %}
