body {
    margin: 0;
    padding: 0;
    border: 0; 
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Wellfleet", cursive;
    display: grid;
    grid-template: 12% 88% / 210px auto;
    grid-template-areas:
      "header header"
      "barra-nav menu-contenido";
      background-color: #f3f2f2;
  }
  #logout {
      position: absolute; top: 0; right:0 ;
  }
  .contenedor {
    height: 100%;
    width: 100%;
  
    margin: auto;
    display: grid;
    grid-template: auto auto auto/ auto auto;
    gap: 5px;
  }
  .header {
    height: 100%;
    width: 100%;
    margin: auto;
  
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .menu {
    background-color: rgb(209, 209, 209);
    height: 645px;
    width: 300px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .menu ul li a {
    display: block;
    text-decoration: none;
  }
  .menu li {
    list-style: none;
  }
  .menu li:hover {
    background: #c2c2c2;
    color: #000080;
  }
  .contenido {
    margin-top: 0%;
  margin-left: 20px;
  padding-top: 0%;
  padding-left: 20%;
  padding-right: 30%;
  height: 500px;
  width: 500px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  }
  h1{
    margin-top: 0%;
    text-align: center;
  }
table,
th,
td {
  margin-top: 1px;
  border: 2px solid black;
  border-collapse: collapse;
  margin-top: auto;
  margin-left: 100px;
  padding-inline: 50px;
  text-align: left;
}
.postularse:hover {
  background: #c2c2c2;
  color: #000080;  
}
.postularse{
  
  margin-left: 140px;
  text-decoration: none; 
}
.consultar:hover {
  background: #c2c2c2;
  color: #000080;  
}
.consultar{

  margin-left: 150px;
  text-decoration: none; 
}
img.logosantoto {
  margin-left: 10%;
  width: auto;
  height: 150px;
}