body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Wellfleet", cursive;
  display: grid;
  grid-template: 12% 88% / 210px auto;
  grid-template-areas:
    "header header"
    "barra-nav menu-contenido";
  background-color: #f3f2f2;
}
.contenedor {
  padding-top: 0px;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 1px;
  display: grid;
  grid-template: auto auto auto/ auto auto;
  gap: 5px;
}
img.logosantoto{
  margin-left: 0%;
  width: auto; 
  height: 250px;
}
#logout {
  padding-top: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.header {
  height: 100%;
  width: 100%;
  margin: auto;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
h1{
  text-align: left;
}
h3{text-align: center;}
.menu {
  background-color: rgb(209, 209, 209);
  height: 600px;
  width: 300px;
  padding-top:0%;
  margin: auto;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

table, th, td {
 border: 2px solid black;
  border-collapse: collapse;
  margin-top: auto;
  margin-left: 25px;
  padding-inline: 100px;
  text-align: center;
}
ul{
  font-size: 20px;
}
.columna:hover {
  background: #c2c2c2;
  color: #000080;
}
.contenido {
  margin-top: 0%;
  padding: 0%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#logo{
  margin-top: auto;
  padding-left: 50px; 
}
.menu ul li a {
  display: block;
  text-decoration: none;
}
.menu li {
  list-style: none;
}
.menu li:hover {
  background: #c2c2c2;
  color: #000080;
}