body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Wellfleet", cursive;
  display: grid;
  grid-template: 12% 88% / 210px auto;
  grid-template-areas:
    "header header"
    "barra-nav menu-contenido";
    background-color: #f3f1f1;
}
#logout {
  position: absolute;
  top: 0;
  right: 0;
}
img.logosantoto {
  margin-left: 10%;
  width: auto;
  height: 150px;
}
.contenedor {
  height: 100%;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template: auto auto auto/ auto auto;
  gap: 5px;
}
.header {  
  height: 100%;
  width: 100%;
  margin: auto;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
h1{
  text-align: center  ;
}
.menu {
  background-color: rgb(209,209, 209);
  height: 597px;
  width: 300px;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
h2{
  text-align: center;
}
.contenido {  
  margin: auto;
  height: 100%;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  margin-top: auto;
  margin-left: 100px;
  padding-inline: 30px;
  text-align: left;
}
.contenido li {
  list-style: none;
}
.contenido h1{
    text-align: center;
}
.menu ul li a {
  display: block;
  text-decoration: none;
}
.menu li {
  list-style: none;
}
.menu li:hover {
  background: #c2c2c2;
  color: #000080;
}
#tabla li a {
  text-decoration: none;
}
.header img{
   margin-left: 25%;
} 
