body {
    margin: 0;
    padding: 0;
    border: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Wellfleet", cursive;
    display: grid;
    grid-template: 12% 88% / 210px auto;
    grid-template-areas:
      "header header"
      "barra-nav menu-contenido";
  }
  #logout {
      position: absolute; top: 0; right:0 ;
  }
  .contenedor {
    height: 100%;
    width: 100%;
  
    margin: auto;
    display: grid;
    grid-template: auto auto auto/ auto auto;
    gap: 5px;
  }
  .header {
    height: 100%;
    width: 100%;
    margin: auto;
  
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  .menu {
    height: 100%;
    width: 100%;
  
    margin: auto;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .contenido {
    margin: auto;
    height: 100%;
    width: 100%;
  
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  