body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Wellfleet", cursive;
  display: grid;
  grid-template: 12% 88% / 210px auto;
  grid-template-areas:
    "header header"
    "barra-nav menu-contenido";
    background-color: #f3f2f2;
}
#logout {
  position: absolute;
  top: 0;
  right: 0;
}
img.logosantoto {
  margin-left: 10%;
  width: auto;
  height: 150px;
}
.contenedor {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: auto auto auto/ auto auto;
  gap: 5px;
}
.header {  
  height: 100%;
  width: 147%;  
  margin-left: 4%;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
h2,
h3 {
  text-align: center;
}
h1{
  text-align: center;
}
.menu {
  background-color: rgb(209, 209, 209);
  height: 645px;
  width: 300px;  
    grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.contenido { 
  margin-top: 0%;
  margin-left: 20%;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 10%;
  height: 500px;
  width: 500px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: auto;
  margin-left: auto;
  padding-inline: 20px;
  text-align: justify;
}
.menu ul li a {
  display: block;
  text-decoration: none;
}
.menu li {
  list-style: none;
}
.menu li:hover {
  background: #c2c2c2;
  color: #000080;
}
#candidatos{
  margin-top: 30px;
  margin-left: 220px;
}
table{
  margin-left: 10%;
}