{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block pestaña %}
    {% endblock %}
    <title>Decano</title>

    {% block css %}
    {% endblock %}

</head>
<body>
    <div class ="contenedor">
        <header>
            <div class="titulo">
                {% block titulo %}
                {% endblock %}
            </div>
        </header>
        {% block menu %}
        {% endblock %}
        <div class="contenido">
            {% block contenido %}
            {% endblock %}
        </div>
        <div class="footer">
        </div>
    </div> 
</body>
</html>