{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Estudiante: Consulta Mi Voto</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/consultavoto.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>

{% endblock %}


{% block menu %}     
<nav class="menu">
    <h1>Menu</h1>
    <ul> 
        <li><a href="{% url 'app:votar_repre_fa' %}">Votar por representante de facultad </a></li>
        <li><a href="{% url 'app:votar_repre_se' %}">Votar por representante de semestre</a></li>
        <li><a href="{% url 'app:listadodevotaciones' %}">Listado de votaciones</a></li>
        <li><a href="{% url 'app:estudiante' %}">Volver Menu Estudiante</a></li>
      </ul>
  </nav>
{% endblock %}

{% block contenido %}
<label>nombre de votacion</label>

            <br>
            <label>Fecha de inicio</label>

            <br>
            <label>Fecha de finalizacion</label>

            <br>
            <label>Ciclo</label>

            <br>
            <label>Tipo de votacion</label>

            <h1>Candidatos</h1>
            <table>
                <tr>
                    <td><strong>Nombres y apellidos</strong></td>
                    <td><strong>votó por</strong></td>
                </tr>

                <tr>
                    <td>Pepito Pinilla Ramires</td>
                    <td>X</td>
                </tr>

                <tr>
                    <td>Juana Marillo Robledo</td>
                    <td>    </td>
                </tr>
                <br>
            </table>
{% endblock %}