{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano: Consulta Votacion Repre</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/consultarVotacionesRepre.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}

{% block menu %}       
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
        <li><a href="{% url 'app:decano' %}">Volver a Menu Decano</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<div class="datosdelestudiante">
    <form action="" >
        <div class="titulo1">
            <h2>Consultar votación repre de facultad</h2>
        </div>
        <div class="formulario1">                      
          <div class="flex">
              <label for="">Nombre Votacion</label>
              <input type="text" >
          </div>
          <div class="flex">
              <label for="">Fecha de Inicio</label>
              <input type="text"  >
          </div>
          <div class="flex">
              <label for="">Fecha De Finalizacion</label>
              <input type="text" >
          </div>

          <div class="flex">
              <label for="">Ciclo</label>
              <input type="text" > 
          </div>

          <div class="flex">
              <label for="">Estado Actual De La Votacion</label>
              <input type="text" >
          </div>
          <div class="flex">
              <label for="">Total De Estudiantes Habilitados Para Votar</label>
              <input type="text" >
          </div>
          <div class="flex">
              <label for="">Estudiantes Que Han Votado</label>
              <input type="text" >
          </div>
          <div class="flex">
              <label for="">Porcentaje De Votacion</label>
              <input type="text" >
          </div>
        </div>
        <div class="titulo2">
            <h3>Crear Estudiante</h3>
        </div>                      
      <table class="tabla1">
          <tr>
              <th>Nombre y Apellido<input type="text" required></th>
              <th>N° de Votos<input type="text" required></th>
              <th>Semestre<input type="text" required></th>
          </tr>
      </table>

      <div class="botones">
          <a href="{% url 'app:postularCandidato' %}" class="boton">Agregar Candidato</a>
     </div>            
    </form>
</div>
{% endblock %} 
