{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano: Crear Estudiante</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estiloCrearEstudiante.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}

{% block menu %}       
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
        <li><a href="{% url 'app:decano' %}">Volver a Menu Decano</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<div class="datosdelestudiante">

    <form action="{% url 'app:crearEstudiante_post' %}" method="POST">
        {% csrf_token %}

        <div class="titulo1">
            <h1>Datos Del Estudiante</h1>
        </div>
        <div class="formulario1">
          <div class="flex">
              <label for="">Nombre</label>
              <input type="text" name="nombre" required>
          </div>
          <div class="flex">
              <label for="">Apellido</label>
              <input type="text" name='apellido' required>
          </div>
          <div class="flex">
              <label for="">Semestre</label>
              <input type="text" name="semestre" required>
          </div>

          <div class="flex">
              <label for="">Email</label>
              <input type="text" name="email" required> 
          </div>

          <div class="flex">
              <label for="">Documento</label>
              <input type="text" name="documento" required>
          </div>
          <br>
          <input class="enviar" type="submit"> 
        </div>                            
    </form>
</div> 
{% endblock %} 