{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano Menu</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estiloDecano.css' %}">
{% endblock %}

{% block titulo %}
<h1>Decano (name)</h1>
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>
{% endblock %}


{% block menu %}     
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}
