{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Estudiante Menu</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estudiantemenu.css' %}">
{% endblock %}

{% block titulo %}
<h1>Estudiante: (name)</h1>
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>
{% endblock %}


{% block menu %}     
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:votar_repre_fa' %}">Votar por representante de facultad </a></li>
        <li><a href="{% url 'app:votar_repre_se' %}">Votar por representante de semestre</a></li>
        <li><a href="{% url 'app:listadodevotaciones' %}">Listado de votaciones</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}