{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano: Listado De Estudiantes</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estiloListadoEstudiantes.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}

{% block menu %}       
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
        <li><a href="{% url 'app:decano' %}">Volver a Menu Decano</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<div class="titulo1">
    <h1>Listado De Estudiantes</h1>              
</div>
<div>
    <table class="tabla1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Documento</th>
        </tr>
        
        {% for e in lista %}
        <tr>
            <td>{{e.user.first_name}} </td>
            <td>{{e.user.last_name}} </td>
            <td>{{e.user.email}} </td>
            <td>{{e.documento}} </td>
          </tr>
        {% endfor %}

    </table>
</div>
{% endblock %} 