{% extends "app/base2.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estiloLogin.css' %}">
{% endblock %}


{% block login %}
<div class="login">
    <form>
      <!-- nombre de usuario -->
      <label class="nombre" for="username">Email</label>
      <br>
      <input class="caja" type="text" placeholder="Digite Email" required/>
      <br>
      <!-- contraseña -->
      <label class="nombre" for="password">Contraseña(Documento)</label>
      <br>
      <input class="caja" type="password" placeholder="Contraseña" required/>
        <div class="botones">
            <a href="#" target="_blank" class="boton">Login</a>
            <a href="{% url 'app:decano' %}" class="boton" >Decano</a>
            <a href="{% url 'app:estudiante' %}" class="boton">Estudiante</a>
            
       </div> 
       <button type="submit">Ingresar</button>
    </form>
  </div>
{% endblock %}

