{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano: Postular Candidato</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/postularCandidato.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}

{% block menu %}       
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
        <li><a href="{% url 'app:decano' %}">Volver a Menu Decano</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<div class="datosdelestudiante">
    <form action="" >
        <div class="titulo1">
            <h1>Postulacio De Estudiante</h1>
        </div>
        <div class="formulario1">
          <div class="flex">
              <label for="">Votacion</label>
              <input type="text" >
          </div>
          <div class="flex">
              <label for="">Estudiante</label>
              <input type="text" >
          </div>
        </div>
      <div class="botones">
          <a href="{% url 'app:decano' %}" class="boton">Agregar Candidato</a>
     </div>            
    </form>
</div>
{% endblock %}
