{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Estudiante: Postularse</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/postularse.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>

{% endblock %}


{% block menu %}     
<nav class="menu">
    <h1>Menu</h1>
    <ul> 
      <li><a href="{% url 'app:votar_repre_fa' %}">Votar por representante de facultad </a></li>
      <li><a href="{% url 'app:votar_repre_se' %}">Votar por representante de semestre</a></li>
      <li><a href="{% url 'app:listadodevotaciones' %}">Listado de votaciones</a></li>
      <li><a href="{% url 'app:estudiante' %}">Volver Menu Estudiante</a></li>
    </ul>
  </nav>
{% endblock %}

{% block contenido %}
<table>
    <h2>Postulaciones</h1>
    <tr>
        <td><strong>Propuestas</strong></td>
        <td><strong>Votacion</strong></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><select name="cars" id="cars">
                <optgroup label="tipo">
                    <option value="Semestre">Semestre</option>
                    <option value="Facultad">Facultad</option>
            </select></td>
    </tr>
</table>
<button class="enviar">enviar</button>
</div>
{% endblock %}