{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    {% endblock %}
    <title>Login</title>

</head>
<body>
    <div class ="contenedor">
        <header>
            <div class="logo" >
                <div class="logo">
                    <img class="imagen" src="{% static 'app/img/logos.png' %}" alt="logosantoto">
                </div>
            </div>
        </header>
        <nav class="navegacion">
            {% block login %}
            {% endblock %}
        </nav>

        <main>
            {% block contenido %}
            {% endblock %}
        </main>
    </div> 
</body>
</html>