{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano: Consulta Votacion Estudiante</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/consultarVotacionE.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}

{% block menu %}       
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
        <li><a href="{% url 'app:decano' %}">Volver a Menu Decano</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<div class="datosdelestudiante">
    <form action="" >
        <div class="titulo1">
            <h2>Consultar votación repre semestre</h2>
        </div>
        {% for e in Votacion %}
        <div class="formulario1">  
            
          <div class="flex">
              <label for="">Nombre Votacion</label>
              <label for="">{{e.nombre}}</label>
              <!-- <input type="text" > -->
          </div>
          
          <div class="flex">
              <label for="">Fecha de Inicio</label>
              <label for="">{{e.fechaInicio}}</label>
              <!-- <input type="text"  > -->
          </div>
          <div class="flex">
              <label for="">Fecha De Finalizacion</label>
              <label for="">{{e.fechaFinal}}</label>
              <!-- <input type="text" > -->
          </div>

          <div class="flex">
              <label for="">Ciclo</label>
              <label for="">__ </label>
              <!-- <input type="text" >  -->
          </div>

          <div class="flex">
              <label for="">Estado Actual De La Votacion</label>
              <label for=""> __</label>
              <!-- <input type="text" > -->
          </div>
          <div class="flex">
              <label for="">Total De Estudiantes Habilitados Para Votar</label>
              <label for="">____</label>
              <!-- <input type="text" > -->
          </div>
          <div class="flex">
              <label for="">Estudiantes Que Han Votado</label>
              <label for="">____</label>
              <!-- <input type="text" > -->
          </div>
          <div class="flex">
              <label for="">Porcentaje De Votacion</label>
              <label for="">______</label>
              <!-- <input type="text" > -->
          </div>
        </div>
        {% endfor %}

        <div class="titulo2">
            <h3>Datos estudiantes</h3>
        </div>                      
      <table class="tabla1">
          <tr>
              <th>Nombre y Apellido</th>
              <th>N° de Votos</th>
              <th>Semestre</th>
          </tr>
          <tr>
              <td>candidato 1</td>
              <td>x</td>
              <td>x</td>
          </tr>
      </table>
      <div class="titulo2">
        <h3>Crear Estudiante</h3>
    </div>

      <div class="botones">
          <a href="{% url 'app:postularCandidato' %}" class="boton">Agregar Candidato</a>
     </div>            
    </form></div>
{% endblock %} 
