{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Estudiante: Consulta Votacion De Semestre</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/consultarvotacion.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>

{% endblock %}


{% block menu %}     
<nav class="menu">
    <h1>Menu</h1>
    <ul> 
        <li><a href="{% url 'app:votar_repre_fa' %}">Votar por representante de facultad </a></li>
        <li><a href="{% url 'app:votar_repre_se' %}">Votar por representante de semestre</a></li>
        <li><a href="{% url 'app:listadodevotaciones' %}">Listado de votaciones</a></li>
        <li><a href="{% url 'app:estudiante' %}">Volver Menu Estudiante</a></li>
      </ul>
  </nav>
{% endblock %}

{% block contenido %}
<label value="represemestre" ></label>

            <br>
            <label>Fecha de inicio:</label>

            <br>
            <label>Fecha de finalizacion:</label>

            <br>
            <label>Ciclo:</label>

            <h2>Candidatos</h2>
            <table>
                <tr>
                    <td><strong>Nombres y apellidos</strong></td>
                    
                    <td><strong>N° de votos</strong></td>
                </tr>

                <tr>
                    <td>Pepito Pinilla Ramires</td>
                    <td>Aun no Disponible</td>
                </tr>

                <tr>
                    <td>Juana Marillo Robledo</td>
                    <td>Aun no Disponible</td>
                </tr>
                <br>
            </table>
            <a class="postularse" href="{% url 'app:postularse' %}">postularse</a> 
            <a class="consultar" href="{% url 'app:consultavoto' %}">consultar mi voto</a>
{% endblock %}