{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano: Crear Votacion</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/estiloCrearVotacion.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo"
            class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}

{% block menu %}
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
        <li><a href="{% url 'app:decano' %}">Volver a Menu Decano</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<div class="datosdelestudiante">
    <form action="{% url 'app:crearVotacion_post' %}" method="POST">

        {% csrf_token %}
        <div class="titulo1">
            <h1>Crear Votacion</h1>
        </div>
        <div class="formulario1">
            <div class="flex">
                <label for="">Nombre De Votacion</label>
                <input type="text" name="nombreVotacion" required>
            </div>
            <div class="flex">
                <label for="">Fecha de Inicio</label>
                <input type="date" name="fechaInicio" required>
            </div>
            <div class="flex">
                <label for="">Fecha De Finalizacion</label>
                <input type="date" name="fechaFinalizacion" required>
            </div>

            <div class="flex">
                <label for="">Ciclo</label>
                <input type="text" name="ciclo" required>
            </div>

            <div class="flex">
                <label for="">Elige el Tipo De Votacion</label>
 
                <select class="opciones" name="estado" >
                    <option value="">Tipo</option>
                    {% for c in TipoVotacion %}
                    <option value="{{c.id}}">{{c.nombre}}</option>
                    {% endfor %}
                    
                </select>
                
            </div>
            <br>
            <input class="enviar" type="submit">
        </div>
    </form>
</div>
{% endblock %}