{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Estudiante: Lista De Votaciones</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listadodevotaciones.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>

{% endblock %}


{% block menu %}     
<nav class="menu">
    <h1>Menu</h1>
    <ul> 
      <li><a href="{% url 'app:votar_repre_fa' %}">Votar por representante de facultad </a></li>
      <li><a href="{% url 'app:votar_repre_se' %}">Votar por representante de semestre</a></li>
      <li><a href="{% url 'app:listadodevotaciones' %}">Listado de votaciones</a></li>
      <li><a href="{% url 'app:estudiante' %}">Volver Menu Estudiante</a></li>
    </ul>
  </nav>
{% endblock %}

{% block contenido %}
<h2>Lista de votaciones</h2>
            <table id="tabla">
                <tr>
                    <td><strong>Nombres de votacion</strong></td>
                    <td><strong>Ciclo</strong></td>
                    <td><strong>Fecha de inicio</strong></td>
                    <td><strong>Fecha de finalizacion</strong></td>
                    <td><strong>Tipo de votacion </strong></td>
                </tr>
                <tr>
                    <td>
                        <li><a href="{% url 'app:consultarvotacion' %}">consultar votacion semestre</a></li>
                    </td>
                    <td>2021-2</td>
                    <td>1/02/2021</td>
                    <td>2/02/2021</td>
                    <td>Representante facultad</td>
                </tr> 
                <tr>
                    <td>
                        <li><a href="{% url 'app:consultarvotacion' %}">semestre</a></li>
                    </td>
                    <td id="ciclo">2021-2</td>
                    <td id="fechainicio">1/02/2021</td>
                    <td id="fechafin">2/02/2021</td>
                    <td id="represemestre">Representante de semestre</td>
                </tr>
                <br>
            </table>
{% endblock %}