{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Decano: Listado De Votos</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/listadoVotaciones.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>
{% endblock %}

{% block menu %}       
<nav class="menu">
    <ul>
        <h2>Menu</h2>
        <br>
        <li><a href="{% url 'app:crearEstudiante' %}">Crear Estudiante</a></li>
        <li><a href="{% url 'app:listadoEstudiantes' %}">Lista de Estudiantes</a></li>
        <li><a href="{% url 'app:crearVotacion' %}">Creacion Votacion</a></li>
        <li><a href="{% url 'app:listadoVotaciones' %}">Listado De Votacion</a></li>
        <li><a href="{% url 'app:decano' %}">Volver a Menu Decano</a></li>
    </ul>
</nav>
{% endblock %}

{% block contenido %}
<div class="titulo1">
    <h1>Listado de Votacion</h1>
</div>
  <table class="tabla1">
      <tr>
          <th>Nombre De Votacion</th>
          <th>Ciclo</th>
          <th>Fecha De Inicio</th>
          <th>Fecha De Finalizacion</th>
          <th>Tipo De Votacion</th>
          <th>Estado De Votacion</th>
      </tr>

      {% for e in Votacion %}
      <tr>
          <td class="consultaVoto"><li><a href="{% url 'app:consultlaVotacionesRepre' %}"> Estudiante 1</a></li></td>

          <td></td>
          <td></td>
          <td></td>
          <td>Facultad</td>
          <td><div class="flex">
              <br>    
            <label for="">Elige el estado de Votacion</label>
            <select class="opciones" required>
                <option value="">Tipo</option>
                <option value="1">Activo</option>
                <option value="1">Inactivo</option>
                <option value="3">Finalizar</option>
            </select>
        </div></td>
      </tr>

      <tr>
          <td class="consultaVoto"><li><a href="{% url 'app:consultarVotacionE' %}">{{e.nombre}}</a></li></td>
          <td></td>
          <td>{{e.fechaInicio}}</td>
          
          <td>{{e.fechaFinal}}</td>
          <td>{{e.tipo_id}}</td>

          <td><div class="flex">
              <br>
            <label for="">Elige el estado de Votacion</label>
            <select class="opciones" required>
                <option value="">Tipo</option>
                <option value="1">Activo</option>
                <option value="1">Inactivo</option>
                <option value="3">Finalizar</option>
            </select>
        </div></td>
      </tr>
      {% endfor %}
  </table>
{% endblock %} 
