{% extends "app/base3.html" %}
{% load static %}

{% block pestaña %}
<title>Estudiante: Votar por representante de semestre</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/votar_repre_fa.css' %}">
{% endblock %}

{% block titulo %}
<i><a href="{% url 'app:login' %}"><img id="logout" src="{% static 'app/img/logout.jpg' %}" alt="logo" class="logout"></a></a></i>

<img id="logo" src="{% static 'app/img/logos.png' %}" alt="logo" class="logosantoto"></a>

{% endblock %}


{% block menu %}     
<nav class="menu">
    <h1>Menu</h1>
    <ul> 
      <li><a href="{% url 'app:votar_repre_fa' %}">Votar por representante de facultad </a></li>
      <li><a href="{% url 'app:votar_repre_se' %}">Votar por representante de semestre</a></li>
      <li><a href="{% url 'app:listadodevotaciones' %}">Listado de votaciones</a></li>
      <li><a href="{% url 'app:estudiante' %}">Volver Menu Estudiante</a></li>
    </ul>
  </nav>
{% endblock %}

{% block contenido %}
<h2>Representante de Semestre</h2>
      <form>
        <label>Nombre de votacion: </label>

        <br>
        <label>Fecha de inicio: </label>

        <br>
        <label>Fecha de finalizacion: </label>

        <h3>Estudiantes postulados</h3>
        <table>
          <tr>
            <td><strong>Nombres y apellidos</strong></td>
            <td><strong>Propuestas</strong></td>
          </tr>

          <tr>
            <td id="candidato1">Pepito Pinilla Ramires</td>
            <td >Hacer una psicina</td>
          </tr>

          <tr>
            <td id="candidato2">Juana Marillo Robledo</td>
            <td>no mas clases</td>
          </tr>
          <br>
        </table>
        <select name="candidatos" id="candidatos">
          <optgroup label="votar">
            <option value="votar por">Votar por</option>
            <option value="candidato1"></option>
            <option value="candidato2"></option>
        </select>
        <button>enviar</button> 

      </form>
{% endblock %}